<div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Booking List</h3>

        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

            <div class="input-group-append">
              <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>CellPhone</th>
                <th>Slot</th>
                <th>Comments</th>
                <th>Confirmed</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < bookings.length; i++) { %>
                <tr>
                    <td><%= i + 1 %></td>
                    <td><%= bookings[i].name %></td>
                    <td><%= bookings[i].email %></td>
                    <td><%= bookings[i].cellphone %></td>
                    <td><%= bookings[i].slot_id %></td>
                    <td><%= bookings[i].comments %></td>
                    <td><%= bookings[i].confirmed %></td>
                </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>